body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    overflow: hidden;
    background-image: url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/202002/old_young_age_ageing_epigeneti.jpeg?size=690:388");
}   

.container {
    background-color: rgba(255, 255, 255, 0.192);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 23vw;
    backdrop-filter: blur(10px);
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="date"] {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 53px;
    
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}
